/* Inicia estilos del NavBar */
.navbar {
  left: 50%;
  transform: translatex(-50%);
  font-size: 30pxs;
}

.link_header {
  color:#80CECC;
  font-weight: bold; 
  font-size: 20px;
}

.main-index {
  text-align: center;
}
/* Finaliza estilos del NavBar */

/* Inicia estilos del Hero */

.col-lg-1{
  writing-mode: vertical-rl;
  transform: rotate(180deg);

}
